

html, body {
    font-size: 16px;
    font-family: DM Sans;
}

.customer-reviews .container {
    width: 1050px;
    margin: 0 auto;
    position: relative;
}

.customer-reviews_list-icon{
    width: 4px;
    height: 4px;
}

button:hover {
    background:#FAFAFA; ;
}

.customer-reviews_slide{
    width: 926px;
    text-align: center;
    margin: 0 auto;
    
}

.customer-reviews_img{
    width: 85px;
    height: 85px;
}

.customer-reviews_text ::before {
    position: absolute;
    top: 32px;
    left: 50px;
    content: url(./images/lap.png);
    color: #E1E1E1;
    width: 54px;
    height: 40px;
}

.customer-reviews_text{
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.04em;
    font-weight: 500;
    background-color: #FAFAFA;
    padding-top: 32px;
    padding-left: 59px;
    padding-right: 54px;
    padding-bottom: 32px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000000;
}


.customer-reviews_gradient{ 
    padding-left: 28px;
    padding-right: 35px;
    height: 100%;
    background-image: repeating-linear-gradient( #FAFAFA 0, #FAFAFA 27px, #E1E1E1 27px, #E1E1E1 28px);
}

.customer-reviews_list-pink, .customer-reviews_list{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    padding-left: 0px;  
}


.customer-reviews_list-pink li:before{
    display: block;
    content: "";
    background-color: #D31342;
    border-radius: 50%;
    padding-right: 4px;
    padding-bottom: 4px;
}

.customer-reviews_list-pink li:not(:last-child){
    margin-right: 10px;
}

.customer-reviews_item:not(:last-child){
    margin-right: 18px;
}

.customer-reviews_btn{
    width: 12px; 
    height: 12px;
    border-radius: 50%;
    font-size:0;
    color: #D9D9D9;
    border: 0px;
}

.customer-reviews_name{
    margin-top: 15px;
    margin-bottom: 35px;
    font-family: DM Sans;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.8;
    color: #000000;
}
